@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Library - KeynimeGC Project - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/mainSite.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/img/userSample.jpg" alt="headshot" class="headshot" />
        <span id="userName">Usuario X</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="SearchBook">Search Books</a></li>
            <li><a asp-controller="App" asp-action="BuyBook">Buy a Book</a></li>
            <li><a asp-controller="App" asp-action="LibraryLocals">See our Locals</a></li>
            <li><a asp-controller="App" asp-action="ContactUs">Contact US</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle">Toggle Menu</button>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="footer">
        <p><center>&copy; 2015 - KeynimeGC Solutions Ltd.</center></p>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/mainSite.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>

