@{
    ViewBag.Title = "Search for an especific book";
}
<h1>My Library - Search for an especific book</h1>
<p id="titleMessage">(We will open soon!)</p>
<hr /><br />
<form>
    <div>
        <label>Book:&nbsp;</label><input id="txtBook" />
    </div>
    <div>
        <label>Author:&nbsp;</label><input id="txtAuthor" />
    </div>
    <div>
        <label>Library Location:&nbsp;</label><input id="txtLibraryLocation" />
    </div>
    <div>
        <input type="button" value="Add Book" />
    </div>
</form>