@model IEnumerable<WebAppLibrary.Models.Book>
@{
    ViewBag.Title = "Search for an especific book";
}
<div class="row">
    <div class="col-md-6 col-xs-8">
        <h1>My Library</h1>
        <h4>Search for an especific book</h4>
        <hr /><br />
        <form>
            <div class="form-group">
                <input type="button" value="Search Book" class="btn btn-success" />
                <input type="button" value="Add to Shopping Cart" class="btn btn-success" />
            </div>
            <div class="form-group">
                <label>Book:&nbsp;</label><input class="form-control" id="txtBook" />
            </div>
            <div class="form-group">
                <label>Author:&nbsp;</label><input class="form-control" id="txtAuthor" />
            </div>
            <div id='mapDiv' style="position:relative; width:400px; height:400px;visibility:hidden"></div>
        </form>
    </div>
    <div class="col-md-6 col-xs-4">
        <h1>All books available!</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Book Name</th>
                    <th>Book's Author</th>
                </tr>
            </thead>
            <tbody>                
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Name</td>
                        <td>@book.Author</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
